.App {
  text-align: center;
}

.favProductContainer {
  text-align: center;
}

.productDetailsContainer {
  text-align: center;
}
.vanContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navElements {
  margin: 20px;
}

.navElements a {
  margin: 10px;
}

.mainTitle {
  font-family: 'Monoton', cursive;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 50px;
}

/************************Categories***********************************/

.categories {
  display: flex;
  margin: auto;
  width: 40%;
  margin-bottom: 100px;
}

.categoryBtn {
  margin: 10px;
  border-radius: 10px;
  padding: 5px 15px;
}

/************************Products*****************************/
.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.productCard {
  width: calc(92% / 3);
  margin: 1%;
  cursor: pointer;
}

.productImg {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

.productDesc {
  overflow-y: hidden;
  height: 100px;
}

.productDetailsContainer {
  text-align: center;
}

.detailsImg {
  width: 250px;
}

.productDetails {
  width: 70%;
  margin: auto;
  border-radius: 3px;
  text-align: left;
}
.productDetails span {
  color: #661e0c;
}
.loadingImg {
  text-align: center;
}

.productImgFavContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.favoriteIcon {
  width: 20px;
}
